In [10]:
from lxml import html
import requests
import pandas as pd

In [11]:
page = requests.get("https://www.imdb.com/chart/boxoffice")
tree = html.fromstring(page.content)

In [12]:
my_rows = tree.xpath('//tr')

In [13]:
for e in my_rows:
    x=e.xpath("./td[@class='titleColumn']/a/text()")
    print(x)

[]
['Spider-Man: Far from Home']
['Toy Story 4']
['Yesterday']
['Annabelle Comes Home']
['Aladdin']
['Midsommar']
['The Secret Life of Pets 2']
['Men in Black: International']
['Avengers: Endgame']
['Rocketman']
[]
[]

In [14]:
contents = tree.xpath("//table/tbody/tr/td[@class='titleColumn']")

In [15]:
dicc={ "Peliculas":[],"Gross":[], "link":[]}

In [16]:
for elem in contents: 
    ancestor = elem.xpath("./ancestor::tr")[0]
    title = ancestor.xpath("./td[@class='titleColumn']/a/text()")
    print(title)
    
    
    link = ancestor.xpath("./td[@class='titleColumn']/a/@href")
    
    print(link)
    
    gross = ancestor.xpath(".//span[@class='secondaryInfo']/text()")
    print(gross)
    print("")
    
    
    dicc["Peliculas"].append(title[0])
    dicc["Gross"].append(gross[0])
    dicc["link"].append(link[0])

['Spider-Man: Far from Home']
['/title/tt6320628']
['$185.1M']

['Toy Story 4']
['/title/tt1979376']
['$306.1M']

['Yesterday']
['/title/tt8079248']
['$36.2M']

['Annabelle Comes Home']
['/title/tt8350360']
['$49.8M']

['Aladdin']
['/title/tt6139732']
['$320.7M']

['Midsommar']
['/title/tt8772262']
['$10.9M']

['The Secret Life of Pets 2']
['/title/tt5113040']
['$140.7M']

['Men in Black: International']
['/title/tt2283336']
['$72.1M']

['Avengers: Endgame']
['/title/tt4154796']
['$847.9M']

['Rocketman']
['/title/tt2066051']
['$89.0M']

In [17]:
df = pd.DataFrame(dicc)
df["Gross"] = df["Gross"].apply(transform)
df

                     Peliculas  Gross              link
0    Spider-Man: Far from Home  185.1  /title/tt6320628
1                  Toy Story 4  306.1  /title/tt1979376
2                    Yesterday   36.2  /title/tt8079248
3         Annabelle Comes Home   49.8  /title/tt8350360
4                      Aladdin  320.7  /title/tt6139732
5                    Midsommar   10.9  /title/tt8772262
6    The Secret Life of Pets 2  140.7  /title/tt5113040
7  Men in Black: International   72.1  /title/tt2283336
8            Avengers: Endgame  847.9  /title/tt4154796
9                    Rocketman   89.0  /title/tt2066051

In [18]:
def transform(n):
    return float(n.replace("M","").replace("$","").replace(",","."))

In [19]:
page = requests.get("https://www.geodatos.net/coordenadas/ecuador")
tree = html.fromstring(page.content)

In [20]:
tree.xpath("//div[@class='container']/div[@class='row']/div[2]/div[@class='panel panel-default']//table/tbody/tr/td[1]/text()")

['Guayaquil',
 'Quito',
 'Cuenca',
 'Santo Domingo de los Colorados',
 'Machala',
 'Manta',
 'Portoviejo',
 'Eloy Alfaro',
 'Esmeraldas',
 'Ambato',
 'Tutamandahostel',
 'Milagro',
 'Ibarra',
 'Riobamba',
 'Quevedo',
 'Loja',
 'Tulcán',
 'Babahoyo',
 'La Libertad',
 'Latacunga',
 'Velasco Ibarra']

In [23]:
page = requests.get("https://www.geodatos.net/coordenadas/ecuador/orellana/puerto-francisco-de-orellana")

In [24]:
tree = html.fromstring(page.content)

In [25]:
tree.xpath("/html/body/div/div[1]/div[1]/div/div/div[4]/div[2]/div/table/tbody/tr[1]/td/text()")

['Estándar decimal simple', '-0.46645', '-76.9871902']